In [ ]:
#| default_exp data

# data -- Getting and processing the data

> A simple package for dealing with pklmart data

In [1]:
#| hide
from nbdev.showdoc import *
from fastcore.test import *
import pandas as pd
import sys
sys.path.append('..')

In [13]:
#| export
from pklshop.connect import *
import pkgutil

In [3]:
#| export
table_names = ["tournament", "match", "game", "rally", "shot_type_ref", "shot", "player", "team",]

In [4]:
table_names

['tournament',
 'match',
 'game',
 'rally',
 'shot_type_ref',
 'shot',
 'player',
 'team']

These are the names of the tables that exist in the pklmart database. We can load these tables into a data frame using `get_tab_as_df`.

In [5]:
#| export
def get_tab_as_df(table_name:str):
    "Returns a pandas dataframe for a given table"
    if not isinstance(table_name, str):
        raise TypeError(f"table_name must be a string within {table_names}")
    if table_name not in table_names:
        raise ValueError(f"Table name {table_name} is not a name in table_names")
    params = config()
    conn = DbConnection(params)
    df = conn.pull_data(table_name)
    return df

In [ ]:
show_doc(get_tab_as_df)

---

[source](https://github.com/NolanSmyth/pklshop/blob/main/pklshop/data.py#L13){target="_blank" style="float:right; font-size:smaller"}

### get_tab_as_df

>      get_tab_as_df (table_name:str)

Returns a pandas dataframe for a given table

Here's an example of creating and displaying a df from the `match` table.

In [ ]:
match_df= get_tab_as_df("match")
match_df.head()

,match_id,tourn_id,consol_ind,team_id_1,team_id_2,maint_dtm,maint_app,create_dtm,create_app
0,M1,T1,N,T1,T2,2022-04-09 03:19:33.840951+00:00,postgres,2022-04-09 03:19:33.840951+00:00,postgres
1,M2,T2,N,T2,T3,2022-05-26 00:45:11.301752+00:00,postgres,2022-05-26 00:45:11.301752+00:00,postgres
2,M5,T5,N,T6,T5,2022-06-28 00:40:22.948360+00:00,postgres,2022-06-28 00:40:22.948360+00:00,postgres
3,M6,T6,N,T5,T7,2022-07-07 23:01:45.921540+00:00,postgres,2022-07-07 23:01:45.921540+00:00,postgres
4,M7,T7,N,T8,T9,2022-07-11 02:40:50.597016+00:00,postgres,2022-07-11 02:40:50.597016+00:00,postgres

In [ ]:
#| hide
#Ensure the table name is the correct type and is in the database
test_fail(lambda: get_tab_as_df(1), contains="table_name must be a string within")
test_fail(lambda: get_tab_as_df("match1"), contains="Table name match1 is not a name in table_names")

In [17]:
#| hide
#Save the dataframes to csv files

for table_name in table_names:
    df = get_tab_as_df(table_name)
    df.to_csv(f"../pklshop/datasets/{table_name}.csv", index=False)

In [38]:
from io import BytesIO

In [39]:
game_dat = pkgutil.get_data('pklshop', "datasets/game.csv")
game = pd.read_csv(BytesIO(game_dat), encoding="utf-8")

In [40]:
game

,game_id,match_id,game_nbr,score_w,score_l,w_team_id,l_team_id,vod_url,skill_lvl,det_user,maint_dtm,maint_app,create_dtm,create_app
0,G1,M1,1,12,10,T2,T1,https://youtu.be/r_35A7D1CQc?t=26520,Pro,aspancake,2022-08-21 20:57:06.721623+00:00,postgres,2022-08-21 20:57:06.721623+00:00,postgres
1,G2,M1,2,11,7,T1,T2,https://youtu.be/r_35A7D1CQc?t=28205,Pro,aspancake,2022-08-21 20:57:06.721623+00:00,postgres,2022-08-21 20:57:06.721623+00:00,postgres
2,G3,M1,3,11,8,T2,T1,https://youtu.be/r_35A7D1CQc?t=29693,Pro,aspancake,2022-08-21 20:57:06.721623+00:00,postgres,2022-08-21 20:57:06.721623+00:00,postgres
3,G4,M2,1,11,8,T3,T2,https://youtu.be/yLAuSzRr9ls,Pro,aspancake,2022-08-21 20:57:06.721623+00:00,postgres,2022-08-21 20:57:06.721623+00:00,postgres
4,G5,M2,2,11,3,T2,T3,https://youtu.be/yLAuSzRr9ls,Pro,aspancake,2022-08-21 20:57:06.721623+00:00,postgres,2022-08-21 20:57:06.721623+00:00,postgres
5,G6,M2,3,11,7,T2,T3,https://youtu.be/yLAuSzRr9ls,Pro,aspancake,2022-08-21 20:57:06.721623+00:00,postgres,2022-08-21 20:57:06.721623+00:00,postgres
6,G8,M4,2,11,9,T5,T4,https://youtu.be/Gqq8hBZtghs?t=975,Pro,aspancake,2022-08-21 20:57:06.721623+00:00,postgres,2022-08-21 20:57:06.721623+00:00,postgres
7,G9,M4,3,11,8,T5,T4,https://youtu.be/Gqq8hBZtghs?t=2192,Pro,aspancake,2022-08-21 20:57:06.721623+00:00,postgres,2022-08-21 20:57:06.721623+00:00,postgres
8,G10,M4,4,11,2,T5,T4,https://youtu.be/Gqq8hBZtghs?t=3520,Pro,aspancake,2022-08-21 20:57:06.721623+00:00,postgres,2022-08-21 20:57:06.721623+00:00,postgres
9,G7,M4,1,11,8,T4,T5,https://youtu.be/Gqq8hBZtghs,Pro,aspancake,2022-08-21 20:57:06.721623+00:00,postgres,2022-08-21 20:57:06.721623+00:00,postgres
10,G11,M5,1,11,5,T5,T6,https://youtu.be/oWhZ094GWCU,Pro,aspancake,2022-08-21 20:57:06.721623+00:00,postgres,2022-08-21 20:57:06.721623+00:00,postgres
11,G12,M5,2,11,6,T5,T6,https://youtu.be/oWhZ094GWCU?t=1143,Pro,aspancake,2022-08-21 20:57:06.721623+00:00,postgres,2022-08-21 20:57:06.721623+00:00,postgres
12,G13,M6,1,11,8,T5,T7,https://youtu.be/TF81Zz1k26I?t=11704,Pro,aspancake,2022-08-21 20:57:06.721623+00:00,postgres,2022-08-21 20:57:06.721623+00:00,postgres
13,G14,M7,1,11,5,T9,T8,https://youtu.be/f_UBwV5uZxo?t=36298,Pro,aspancake,2022-08-21 20:57:06.721623+00:00,postgres,2022-08-21 20:57:06.721623+00:00,postgres
14,G15,M7,2,11,6,T9,T8,https://youtu.be/f_UBwV5uZxo?t=37321,Pro,aspancake,2022-08-21 20:57:06.721623+00:00,postgres,2022-08-21 20:57:06.721623+00:00,postgres
15,G16,M8,1,12,10,T10,T4,https://www.youtube.com/watch?v=MCHe0W5AL-M&ab...,Pro,aspancake,2022-08-21 20:57:06.721623+00:00,postgres,2022-08-21 20:57:06.721623+00:00,postgres
16,G18,M10,1,11,6,T13,T14,https://www.youtube.com/watch?v=f_UBwV5uZxo,Pro,aspancake,2022-08-21 20:57:06.721623+00:00,postgres,2022-08-21 20:57:06.721623+00:00,postgres
17,G19,M11,1,12,10,T16,T15,https://www.youtube.com/embed/zIsj_bdapgk,Pro,aspancake,2022-08-21 20:57:06.721623+00:00,postgres,2022-08-21 20:57:06.721623+00:00,postgres
18,G20,M12,1,16,12,T17,T18,https://www.youtube.com/embed/RrjyQkjeESc?star...,Pro,aspancake,2022-08-21 20:57:06.721623+00:00,postgres,2022-08-21 20:57:06.721623+00:00,postgres
19,G21,M12,2,12,12,T18,T17,NaN,Pro,aspancake,2022-08-21 20:57:06.721623+00:00,postgres,2022-08-21 20:57:06.721623+00:00,postgres
20,G17,M9,1,15,12,T11,T12,https://www.youtube.com/embed/qKl1pc99_Ms,5.0,aspancake,2022-08-21 20:57:06.721623+00:00,postgres,2022-08-21 20:57:06.721623+00:00,postgres
21,G23,M14,1,17,12,T21,T20,https://www.youtube.com/watch?v=zDgby2rjYyk&t=...,Pro,aspancake,2022-08-29 22:54:30.003396+00:00,postgres,2022-08-29 22:54:30.003396+00:00,postgres
22,G24,M15,1,11,7,T23,T22,NaN,Pro,FourthShotPickleball,2022-08-31 01:55:18.190386+00:00,postgres,2022-08-31 01:55:18.190386+00:00,postgres
23,G26,M15,3,11,4,T22,T23,NaN,Pro,FourthShotPickleball,2022-08-31 17:24:48.209338+00:00,postgres,2022-08-31 17:24:48.209338+00:00,postgres
24,G27,M16,1,15,4,T12,T24,https://www.facebook.com/frankie.meredith.9/vi...,5.0,Monica Linn,2022-09-09 22:09:28.659905+00:00,postgres,2022-09-09 22:09:28.659905+00:00,postgres
25,G28,M17,1,11,8,T26,T25,https://www.youtube.com/watch?v=Y0AKnFeZFAw,Pro,aspancake,2022-09-11 19:28:43.017174+00:00,postgres,2022-09-11 19:28:43.017174+00:00,postgres
26,G29,M18,1,11,8,T27,T12,https://www.facebook.com/frankie.meredith.9/vi...,5.0,Monica Linn,2022-09-11 19:40:31.493743+00:00,postgres,2022-09-11 19:40:31.493743+00:00,postgres
27,G30,M17,2,11,7,T26,T25,NaN,Pro,aspancake,2022-09-12 00:37:46.577074+00:00,postgres,2022-09-12 00:37:46.577074+00:00,postgres
28,G31,M19,1,11,8,T28,T29,https://www.facebook.com/Jamietmorgantennis/vi...,4.5,aspancake,2022-09-23 03:01:15.380388+00:00,postgres,2022-09-23 03:01:15.380388+00:00,postgres
29,G32,M20,1,11,5,T31,T30,https://www.youtube.com/watch?v=1reuWeDWDHo,Pro,aspancake,2022-09-23 03:03:50.057425+00:00,postgres,2022-09-23 03:03:50.057425+00:00,postgres
30,G33,M20,2,11,2,T31,T30,https://www.youtube.com/watch?v=1reuWeDWDHo,Pro,aspancake,2022-09-23 03:04:32.068012+00:00,postgres,2022-09-23 03:04:32.068012+00:00,postgres
31,G34,M21,1,15,9,T33,T32,NaN,4.5,aspancake,2022-09-25 21:44:31.826754+00:00,postgres,2022-09-25 21:44:31.826754+00:00,postgres
32,G35,M22,1,15,12,T35,T34,https://www.youtube.com/watch?v=6DStadSup8g,Pro,aspancake,2022-10-04 03:31:19.610650+00:00,postgres,2022-10-04 03:31:19.610650+00:00,postgres
33,G36,M23,2,11,6,T36,T37,https://www.youtube.com/watch?v=21UyjVvuBQs,4.5,aspancake,2022-10-05 02:00:45.406097+00:00,postgres,2022-10-05 02:00:45.406097+00:00,postgres
34,G37,M23,1,11,4,T36,T37,https://www.youtube.com/watch?v=21UyjVvuBQs,4.5,aspancake,2022-10-05 02:01:27.676871+00:00,postgres,2022-10-05 02:01:27.676871+00:00,postgres
35,G47,M27,1,15,10,T40,T41,https://www.facebook.com/FourthShotPickleball/...,5,aspancake,2022-11-05 20:32:46.642252+00:00,aspancake,2022-11-05 20:32:46.642252+00:00,aspancake
36,G48,M28,1,11,6,T42,T43,https://www.facebook.com/plugins/video.php?hei...,Pro,aspancake,2022-11-07 02:44:59.120491+00:00,aspancake,2022-11-07 02:44:59.120491+00:00,aspancake
37,G49,M28,3,11,4,T43,T42,https://www.facebook.com/dhirarpit/videos/6345...,Pro,aspancake,2022-11-07 02:45:41.661477+00:00,aspancake,2022-11-07 02:45:41.661477+00:00,aspancake
38,G22,M13,1,11,7,T3,T19,https://youtu.be/MCHe0W5AL-M?t=10696,Pro,aspancake,2022-08-22 01:11:50.681803+00:00,postgres,2022-08-22 01:11:50.681803+00:00,postgres
39,G41,M25,1,11,2,T39,T40,https://www.youtube.com/watch?v=cI3CyIzlV7A,5.0,aspancake,2022-10-20 22:42:52.084763+00:00,postgres,2022-10-20 22:42:52.084763+00:00,postgres
40,G42,M25,3,13,11,T39,T40,https://www.youtube.com/watch?v=cI3CyIzlV7A,5.0,aspancake,2022-10-20 22:51:38.509498+00:00,postgres,2022-10-20 22:51:38.509498+00:00,postgres
41,G43,M25,2,11,5,T40,T39,https://www.youtube.com/watch?v=cI3CyIzlV7A,5.0,aspancake,2022-10-20 22:52:20.760625+00:00,postgres,2022-10-20 22:52:20.760625+00:00,postgres
42,G38,M24,2,12,10,T32,T38,https://www.youtube.com/watch?v=5D-7CvJC160,5.0,aspancake,2022-10-16 19:22:34.949743+00:00,postgres,2022-10-16 19:22:34.949743+00:00,postgres
43,G39,M24,1,11,9,T38,T32,https://www.youtube.com/watch?v=5D-7CvJC160,5.0,aspancake,2022-10-16 19:23:06.269230+00:00,postgres,2022-10-16 19:23:06.269230+00:00,postgres
44,G40,M24,3,11,9,T38,T32,https://www.youtube.com/watch?v=5D-7CvJC160,5.0,aspancake,2022-10-16 19:23:54.376633+00:00,postgres,2022-10-16 19:23:54.376633+00:00,postgres
45,G50,M28,2,11,5,T43,T42,https://www.facebook.com/dhirarpit/videos/6345...,Pro,aspancake,2022-11-07 02:47:30.985675+00:00,aspancake,2022-11-07 02:47:30.985675+00:00,aspancake
46,G51,M29,1,11,6,T13,T5,https://www.youtube.com/watch?v=186mnpAt-UE&t=...,Pro,dplorenz,2022-11-07 04:11:40.625245+00:00,aspancake,2022-11-07 04:11:40.625245+00:00,aspancake
47,G52,M29,3,12,10,T13,T5,https://www.youtube.com/watch?v=186mnpAt-UE,Pro,dplorenz,2022-11-07 04:12:44.893899+00:00,aspancake,2022-11-07 04:12:44.893899+00:00,aspancake
48,G53,M29,2,14,12,T13,T5,https://www.youtube.com/watch?v=186mnpAt-UE&t=...,Pro,dplorenz,2022-11-07 04:14:02.112302+00:00,aspancake,2022-11-07 04:14:02.112302+00:00,aspancake
49,G54,M15,2,11,5,T22,T23,NaN,Pro,FourthShotPickleball,2022-11-10 20:08:20.848829+00:00,aspancake,2022-11-10 20:08:20.848829+00:00,aspancake
50,G55,M30,1,15,11,T44,T45,https://www.youtube.com/watch?v=kRlz4R22Lak,4.0,aspancake,2022-11-15 04:10:03.205183+00:00,aspancake,2022-11-15 04:10:03.205183+00:00,aspancake
51,G56,M31,2,11,6,T46,T47,https://youtu.be/pOnLvEwuAa0,Pro,aspancake,2022-11-21 19:35:11.377589+00:00,aspancake,2022-11-21 19:35:11.377589+00:00,aspancake
52,G57,M31,3,11,3,T47,T46,https://youtu.be/pOnLvEwuAa0,Pro,aspancake,2022-11-21 19:41:04.186060+00:00,aspancake,2022-11-21 19:41:04.186060+00:00,aspancake
53,G58,M31,1,11,6,T47,T46,https://youtu.be/pOnLvEwuAa0,Pro,aspancake,2022-11-21 19:43:17.165079+00:00,aspancake,2022-11-21 19:43:17.165079+00:00,aspancake

In [ ]:
#| hide
import nbdev; nbdev.nbdev_export()