In [ ]:
#| default_exp data

# data -- Getting and processing the data

> A simple package for dealing with pklmart data

In [ ]:
#| hide
from nbdev.showdoc import *
from fastcore.test import *
import pandas as pd
import sys
sys.path.append('..')

In [ ]:
#| export
from pklshop.connect import *

In [ ]:
#| export
table_names = ["tournament", "match", "game", "rally", "shot_type_ref", "shot", "player", "team",]

In [ ]:
table_names

['tournament',
 'match',
 'game',
 'rally',
 'shot_type_ref',
 'shot',
 'player',
 'team']

These are the names of the tables that exist in the pklmart database. We can load these tables into a data frame using `get_tab_as_df`.

In [ ]:
#| export
def get_tab_as_df(table_name:str):
    "Returns a pandas dataframe for a given table"
    if not isinstance(table_name, str):
        raise TypeError(f"table_name must be a string within {table_names}")
    if table_name not in table_names:
        raise ValueError(f"Table name {table_name} is not a name in table_names")
    params = config()
    conn = DbConnection(params)
    df = conn.pull_data(table_name)
    return df

In [ ]:
show_doc(get_tab_as_df)

---

[source](https://github.com/NolanSmyth/pklshop/blob/main/pklshop/data.py#L13){target="_blank" style="float:right; font-size:smaller"}

### get_tab_as_df

>      get_tab_as_df (table_name:str)

Returns a pandas dataframe for a given table

Here's an example of creating and displaying a df from the `match` table.

In [ ]:
match_df= get_tab_as_df("match")
match_df.head()

,match_id,tourn_id,consol_ind,team_id_1,team_id_2,maint_dtm,maint_app,create_dtm,create_app
0,M1,T1,N,T1,T2,2022-04-09 03:19:33.840951+00:00,postgres,2022-04-09 03:19:33.840951+00:00,postgres
1,M2,T2,N,T2,T3,2022-05-26 00:45:11.301752+00:00,postgres,2022-05-26 00:45:11.301752+00:00,postgres
2,M5,T5,N,T6,T5,2022-06-28 00:40:22.948360+00:00,postgres,2022-06-28 00:40:22.948360+00:00,postgres
3,M6,T6,N,T5,T7,2022-07-07 23:01:45.921540+00:00,postgres,2022-07-07 23:01:45.921540+00:00,postgres
4,M7,T7,N,T8,T9,2022-07-11 02:40:50.597016+00:00,postgres,2022-07-11 02:40:50.597016+00:00,postgres

In [ ]:
#| hide
#Ensure the table name is the correct type and is in the database
test_fail(lambda: get_tab_as_df(1), contains="table_name must be a string within")
test_fail(lambda: get_tab_as_df("match1"), contains="Table name match1 is not a name in table_names")

In [ ]:
#| hide
import nbdev; nbdev.nbdev_export()