In [ ]:
#| default_exp index

# pklshop

> A library for accessing and analyizing Pickleball data from pklmart

A library for accessing and analyzing Pickleball data from [pklmart](https://github.com/aspancake/pklmart). You can find the full documentation [here](https://nolan-smyth.com/pklshop/).

## Install

Install using:
```sh
pip install pklshop
```

## How to use

This package includes the latest pickleball data from pklmart already convieniently loaded into a pandas dataframe. You can access this data by importing the `pklshop.data` module using:
```python
from pklshop.data import *
```
(Note that since this package is writen using [nbdev](https://nbdev.fast.ai/) it is safe to wildcard import because the `__all__` variable is automatically generated for each module.)

Once that's done, this lib provides a function `get_tab_as_df` you can use to create and display tables within the database

Available tables are:

In [ ]:
#| export
from pklshop.data import *
from pklshop.game import *
from pklshop.rally import *

In [ ]:
table_names

['tournament',
 'match',
 'game',
 'rally',
 'shot_type_ref',
 'shot',
 'player',
 'team']

In [ ]:
match.head()

,match_id,tourn_id,consol_ind,team_id_1,team_id_2,maint_dtm,maint_app,create_dtm,create_app
0,M1,T1,N,T1,T2,2022-04-09 03:19:33.840951+00:00,postgres,2022-04-09 03:19:33.840951+00:00,postgres
1,M2,T2,N,T2,T3,2022-05-26 00:45:11.301752+00:00,postgres,2022-05-26 00:45:11.301752+00:00,postgres
2,M5,T5,N,T6,T5,2022-06-28 00:40:22.948360+00:00,postgres,2022-06-28 00:40:22.948360+00:00,postgres
3,M6,T6,N,T5,T7,2022-07-07 23:01:45.921540+00:00,postgres,2022-07-07 23:01:45.921540+00:00,postgres
4,M7,T7,N,T8,T9,2022-07-11 02:40:50.597016+00:00,postgres,2022-07-11 02:40:50.597016+00:00,postgres

In [ ]:
g = Game("G1")
g.summarize_game()

Anna Leigh Waters & Leigh Waters beat Jesse Irvine & Catherine Parenteau 12-10 in game G1
             Player  Error %  Winner %
       Jesse Irvine    17.46      9.52
Catherine Parenteau     1.59      0.00
  Anna Leigh Waters     1.59      3.17
       Leigh Waters     9.52      4.76

In [ ]:
g.plot_impact_flow()

To see a more complete analysis in action, check out the [examples](https://github.com/NolanSmyth/pklshop/tree/main/examples). Also check out Connor 
and [this](https://github.com/conner-mcnicholas/pickleball_analysis/) analysis by conner-mcnicholas on timeout momentum!

r = Rally("R1020")
r.animate_rally()
![Fun Vizualizations!](figures/rally.gif)