In [ ]:
#| hide
from pklshop.stats import *

# pklshop

> A library for accessing and analyizing Pickleball data from pklmart

A demo of analyzing data Pickleball data from [pklmart](https://github.com/aspancake/pklmart)

## Install

Install using:
```sh
pip install pklshop
```

## How to use

This lib provides a function `get_tab_as_df` you can use to create and display tables within the database

Available tables are:

In [ ]:
table_names

['tournament', 'match', 'game', 'player', 'team']

In [ ]:
match_df = get_tab_as_df("match")
match_df.head()

,match_id,tourn_id,consol_ind,team_id_1,team_id_2,maint_dtm,maint_app,create_dtm,create_app
0,M1,T1,N,T1,T2,2022-04-09 03:19:33.840951+00:00,postgres,2022-04-09 03:19:33.840951+00:00,postgres
1,M2,T2,N,T2,T3,2022-05-26 00:45:11.301752+00:00,postgres,2022-05-26 00:45:11.301752+00:00,postgres
2,M5,T5,N,T6,T5,2022-06-28 00:40:22.948360+00:00,postgres,2022-06-28 00:40:22.948360+00:00,postgres
3,M6,T6,N,T5,T7,2022-07-07 23:01:45.921540+00:00,postgres,2022-07-07 23:01:45.921540+00:00,postgres
4,M7,T7,N,T8,T9,2022-07-11 02:40:50.597016+00:00,postgres,2022-07-11 02:40:50.597016+00:00,postgres